.site {
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.site__header {
	grid-area: header;
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
    background-color: rgb(179, 179, 205);
}

.site__sidebar {
	grid-area: sidebar;
    background-color: rgb(140, 140, 222);
}

.site__footer {
	grid-area: footer;
    background-color: rgb(19, 15, 31);
}

//@import "no-sidebar";
