.site {
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.site__header, 
.site__sidebar, 
.site__main, 
.site__footer{
    padding: 1vh 3vw;
}

.site__header {
	grid-area: header;
    background-color: lighten($color__background-zonegrid, 20%);
    
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
    background-color: rgb(179, 179, 205);
    background-color: lighten($color__background-zonegrid, 40%);
}

.site__sidebar {
	grid-area: sidebar;
    background-color: rgb(140, 140, 222);
    background-color: lighten($color__background-zonegrid, 30%);
}

.site__footer {
	grid-area: footer;
    background-color: rgb(19, 15, 31);
    background-color: lighten($color__background-zonegrid, 20%);
}

//@import "no-sidebar";
